.container-navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 88px;
}

.busca {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
}

.lupa-icon {
    width: 40px;
    background-color: #EFF2F9;
    padding: 10px;
    border-radius: 5px 0 0 5px; 
}

.busca-input {
    font-family: Poppins;
    font-size: 14px;
    width: 400px;
    height: 40px;
    border: none;
    background-color: #EFF2F9;
    border-radius: 0 5px 5px 0; 
}

::placeholder {
    font-family: Open Sans;
    font-weight: 400;
    color: rgba(44, 46, 61, 0.8);
    opacity: 0.5;
}

.navbar-icons {
    display: flex;
    align-items: center;
    padding-left: 760px;
    padding-right: 20px;
    gap: 30px;
}

.settings-icon, .notification-icon {
    width: 22px;
    cursor: pointer;
}

.perfil {
    display: inline-block;
}

.btn-perfil {
    display: flex;
    align-items: center;
    background-color: rgba(47, 68, 134, 0.05);
    padding: 8px 8px 8px 14px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 152px;
    box-shadow: 0px 8px 20px 2px rgba(0,0,0,.1);
    z-index: 1;
    border-radius: 8px;
    margin-top: 8px;
}

.dropdown-menu a {
    font-size: 12px;
    font-weight: bold;
    color: #303B5A;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.perfil:hover .dropdown-menu {
    display: block;
}

.borders-menu {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.05);
}

.logout-box {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logout-icon {
    margin-right: 8px;
    margin-left: 16px;
}

.logout-text {
    padding: 10px 0 8px 0px !important;
}

.perfil-text1 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: #565468;
    padding: 0 4px;
}

.perfil-text2 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    color: #565468;
    padding-right: 12px;
}

.perfil-photo {
    width: 40px;
}

.apps {
    display: flex;
    align-items: center;
    padding: 0 56px 0 20px;
}

.apps-icon {
    width: 20px;
    cursor: pointer;
}